<div id="boxContent" class="widget widget-section">
    <div class="row">

        <div class="container">

            <div id="header" class="widget widget-text">
                <p>เรียน SQL Step by Step</p>
                <div>ครบจบในคอร์สเดียว</div>
                <p></p>
            </div>

        </div><a href="#registerBox" id="boxButton" class="widget widget-button" version="3" subtype="anchor">
            <div class="widget-overlay"></div>
            <div id="textButton" class="widget widget-text">ลงทะเบียน</div>
        </a><a href="#" id="boxDetaile" class="widget widget-button" version="3" subtype="anchor">
            <div class="widget-overlay"></div>
            <div id="textDetaile" class="widget widget-text">รายละเอียด</div>
        </a>
        <img id="T6i2FOdADXN5aTvTN71rFlS4I3BQxRH9" width="525" height="525" class="widget widget-image"
            src="/assets/services.png">
    </div>
</div>